@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Edit</h1>

<p>Edit Stylist Details: @Html.DisplayFor(model => model.FirstName)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.FirstName)
  @Html.EditorFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName)
  @Html.EditorFor(model => model.LastName)

  <input type="submit" value="Save" class="btn btn-info">
}
<p>@Html.ActionLink("Back to list", "Index")</p>