@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Edit</h1>

<p>Edit this client's details: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  <p>Client's First Name:
  @Html.EditorFor(model => model.FirstName)</p>

  <p>Client's Last Name:
  @Html.EditorFor(model => model.LastName)</p>

  <p>Client's Contact Info:
  @Html.EditorFor(model => model.ContactInfo)</p>

  <p>Stylist: 
  @Html.DropDownList("StylistId")</p>

  <input type="submit" value="Save" class="btn btn-info">
}

<p>@Html.ActionLink("Back to list", "Index")</p>